<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fy.shardingjdbcdemo.dao.OrderConfigMapper">
  <resultMap id="BaseResultMap" type="com.fy.shardingjdbcdemo.model.OrderConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pay_timeout" jdbcType="INTEGER" property="payTimeout" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pay_timeout
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fy.shardingjdbcdemo.model.OrderConfig" useGeneratedKeys="true">
    insert into order_config (pay_timeout)
    values (#{payTimeout,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fy.shardingjdbcdemo.model.OrderConfig" useGeneratedKeys="true">
    insert into order_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payTimeout != null">
        pay_timeout,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payTimeout != null">
        #{payTimeout,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fy.shardingjdbcdemo.model.OrderConfig">
    update order_config
    <set>
      <if test="payTimeout != null">
        pay_timeout = #{payTimeout,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fy.shardingjdbcdemo.model.OrderConfig">
    update order_config
    set pay_timeout = #{payTimeout,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>